:root{

--fuentePrincipal: "Arima", system-ui;
--colorPrincipal : #990033;
--colorNavegacion: #CC0033;
--tituloNav: #a2d9ce;
--colorh1: #003333 ;
--negro: #000000;
--blanco:#fdfefe;
--submit: #f4d03f;
--sombrasubmit:#dab419;





}

html{

    font-size: 62.5%;
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{

    font-size: 16px;
    background-color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    min-width: 350px;
}
h1{

    color: var(--colorh1);
    text-align: center;
    text-transform: uppercase;
}
img{
    width: 100%;
}
span{

    color: var(--negro);
    font-size: 2rem;
}

/*Logo*/
header{

    display: flex;
    justify-content: center;
    margin: 3rem 0 1rem 0;
}
.box{ /*el rectangulo que abarca la imagen*/

    width: 40rem;
    height: 15rem;
    overflow: hidden; /*Todo lo que sobresalga de la caja rectangular no se va a ver*/
 
}
.box img{

height: 100%; /*que dentro del rectangulo se vea el 100% de la imágen(el width:100% está arriba en.img)*/
object-fit: cover; /*para que no se deforme la imágen*/

}
/*Navegación*/
.navegacion{

background-color: var(--colorNavegacion);
padding: 1rem;
display: flex;
justify-content: center;
gap: 5rem;

}
.navegacion a{

text-decoration: none;
color: var(--tituloNav);
font-size: 3rem;


}

/*Main*/
.contenedor{

max-width: 120rem;
margin: 0 auto;

}

.discografia{
    
    
    display: block;
    
}
@media (min-width: 768px){
    
    .discografia{
    
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        
    }
    }


@media (min-width: 768px){
     
    .discografia{
    
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
    }
}


.card{

    background-color: var(--colorNavegacion);
    padding: 2rem;
    display: grid
  
}
.titulo{

    font-size: 4rem;
    text-align:center;
    color: var(--blanco);
    
   

  
}
.lanzamiento{

    font-size: 2.4rem;
    text-align: center;
    color: var(--colorh1);
    align-content:end;
  

    
   
   
}

.imagen{

    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.blankspace{

    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url(../img/blankspace.png);

   

}
.lwymmd{
    
    background-image: url(../img/lwymml.jpg);
    grid-row: 4/5;
    grid-column: 1/3;
    
}


@media (min-width: 768px){
     
    .lwymmd{
    
        grid-row: 5/6;
        grid-column: 2/4;
    
    
    }
}

/*Footer*/
footer{

font-size: 2.1rem;
color: var(--negro);
text-align: center;
text-transform: uppercase;
margin-top: 2rem;

}

/*Página Eras Tour*/

.erasTour{

    display: grid;
    grid-template-rows: repeat(2, auto);



}

@media (min-width: 768px){
    
    .erasTour{

        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    
    }

}

.contenido{

    margin-top: 5rem;
    line-height: 2rem;
    text-align: center;
    margin:2rem;
}


@media (min-width: 768px){
    .contenido{

        margin-left: 20rem;
    
    }
}
.poster{

    /*clip-path: inset(3% 5% 25% 5%); recortar imágen*/
    
    grid-row: 1/2;
    align-items: center;
    border-style: outset;
    border-width: .3rem;


}

@media (min-width: 768px){
     .poster{

        grid-column: 2/3;
        width: 70%;
     height: 80%;
     }
}

/*Página del disco*/

@media (min-width: 768px){
     .disco{

        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;

     }
}


@media (min-width: 768px){
     .discoimg{

        width: 30rem;
        height: 30rem;
        margin-left: 20rem;
      
     }
}

.nombre{

    text-align: center;
}
@media (min-width: 768px){
     .nombre{

        text-align: left;
     }
}

.formulario{
    
    display: grid;

    
    
}


@media (min-width: 768px){

    .formulario{
    
        
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        
        
        
    }

     
}


.camposubmit{ /*botón Agregar al carrito*/

    background-color: var(--submit);
    border: none;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1/3; /*que abarque el tamaño de los 2 campos*/
    margin:2rem;
   
}
@media (min-width: 768px){
     .camposubmit{

         margin: 0;

     }

}
.camposubmit:hover{

    cursor: pointer;
    background-color: var(--sombrasubmit);

}
 .campo{

    border: 1rem solid var(--colorNavegacion);
    background-color: var(--colorPrincipal);
    color: var(--blanco);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;/*le saca la flechita al select de versión*/
    
    
}










